@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
body {
    min-height: 100vh;
    background-color: #4fbeff;
    background-image: linear-gradient(147deg, #58d0ff 0%, #ffffff 100%);
}
.container{
    font-family: 'Nunito', sans-serif;
  }
a,
a:hover{
  text-decoration: none;
}
.img-thumbnail {
    width: 50%;
    height: auto;
}